html {
  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  text-transform: uppercase;

  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.main-header nav {
  position: relative;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 244px;
}

.site-navigation a {
  display: block;

  margin: 0;
  padding: 0;
  width: 239px;
  padding-top: 14px;
  padding-bottom: 16px;
  box-sizing: border-box;

  text-decoration: none;
  text-align: center;

  color: #000000;

  font-weight: bold;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 530px;
  z-index: 1;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.information-link {
  padding-left: 3px;
  padding-right: 5px;
}

.photo-link {
  padding-left: 9px;
  padding-right: 5px;
}

.map-link {
  padding-left: 3px;
  padding-right: 5px;
}

.hotels-link {
  padding-left: 21px;
  padding-right: 5px;
}

.main-logo {
  position: relative;

  width: 1200px;
  height: 508px;
  margin-bottom: 60px;

  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0 -83px;
}

.main-logo::after {
  position: absolute;
  bottom: -2px;
  left: 0;

  width: 1200px;
  height: 59px;

  content: "";

  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
}

.main-logo img {
  margin-top: 75px;
  margin-left: 371px;
}

.about-sedona {
  margin-bottom: 50px;
}

.about-sedona .sedona-description {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 27px;

  text-align: center;

  font-size: 21px;
}

.about-sedona .reasons {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.about-sedona .reasons-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-sedona .reason-field {
  text-align: center;

  background-color: #eeeeee;
  box-sizing: border-box;

  line-height: 21px;
}

.reasons-list .reason {
  font-size: 21px;
  margin: 0;
  margin-bottom: 24px;
  padding-top: 49px;
}

.reasons-list .main-reason {
  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
  flex-wrap: wrap;
}

.wrapper-main-reason {
  width: 400px;
  box-sizing: border-box;
}

.reasons-list .first-reason {
  padding-left: 60px;
  padding-right: 60px;
}

.reasons-list p {
  margin: 0 auto;
}

.reasons-list .reason-number {
  margin-bottom: 21px;
}

.reasons-list .reason-description {
  margin-bottom: 58px;
}

.descriptions-list {
  list-style: none;
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  display: flex;
}

.descriptions-list li {
  width: 400px;
}

.descriptions-list h3 {
  font-size: 21px;
  margin: 0;
  margin-top: 161px;
  margin-bottom: 24px;
}

.descriptions-list p {
  margin-bottom: 82px;
}

.description-item-home {
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.description-item-food {
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 163px 61px;
}

.description-item-souvenirs {
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 168px 56px;
}

.reasons-list .second-reason {
  padding-left: 49px;
  padding-right: 49px;
}

.second-reason .reason {
  padding-top: 46px;
}

.other-reasons {
  display: flex;
}

.about-sedona .other-reason-field {
  width: 400px
}

.other-reasons .reason {
  padding-top: 47px;
}

.other-reasons .reason-description {
  margin-bottom: 59px;
}

.other-reasons .reason-field-third {
  padding-left: 95px;
  padding-right: 95px;
}

.other-reasons .reason-field-fourth {
  padding-left: 69px;
  padding-right: 68px;
}

.other-reasons .reason-field-fifth {
  padding-left: 76px;
  padding-right: 75px;
}

.booking {
  text-align: center;
}

.booking h2 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 24px;
}

.booking p {
  line-height: 24px;
  margin: 0;
  margin-bottom: 47px;
}

.search-hotels-button {
  font-size: 21px;
  display: block;
  width: 568px;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-hotels-button:hover,
.search-hotels-button:focus {
  background-color: #604e43;
}

.search-hotels-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.booking iframe {
  border: 0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -1737px;
  width: 1200px;
  background-color: #ffffff;
  opacity: 0.9;
}

.sedona-hashtag {
  font-size: 21px;
  font-weight: bold;

  margin: 0;
  margin-left: 133px;
}

.footer-social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 36px 0;
  margin-left: 26px;
}

.footer-social li {
  margin-right: 6px;
}

.footer-social li:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: block;
  position: relative;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button::before {
  position: absolute;

  width: 22px;
  height: 22px;

  content: "";

  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button-tw::before {
  left: 15px;
  top: 17px;

  background-image: url("../img/tw-icon.svg");
}

.social-button-fb::before {
  left: 17px;
  top: 13px;

  background-image: url("../img/fb-icon.svg");
}

.social-button-youtube::before {
  left: 13px;
  top: 16px;

  background-image: url("../img/youtube-icon.svg");
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active::before {
  background-color: #669ec0;
  opacity: 0.3;
}

.social-button:active .social-button-tw {
  opacity: 0.3;
}

.development {
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-top: 6px;
}

.development span {
  padding-right: 8px;
  padding-bottom: 8px;
}

.development svg {
  width: 115px;
  height: 41px;
}

.development-link:hover path,
.development-link:focus path {
  fill: #81b3d2;
}

.development-link:active path {
  fill: #bdbbbc;
}
