html {
  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  text-transform: uppercase;

  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

body {
  position: relative;
}

.main-header nav {
  position: relative;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 244px;
}

.site-navigation a {
  display: block;

  box-sizing: border-box;
  width: 239px;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 16px;

  text-align: center;
  text-decoration: none;

  color: #000000;

  font-weight: bold;
}

.header-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 530px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .actual-link {
  color: #766357;
}

.site-navigation .actual-link:hover,
.site-navigation .actual-link:focus {
  color: #766357;
}

.site-navigation .information-link {
  padding-right: 5px;
  padding-left: 3px;
}

.site-navigation .photo-link {
  padding-right: 5px;
  padding-left: 9px;
}

.site-navigation .map-link {
  padding-right: 5px;
  padding-left: 3px;
}

.site-navigation .hotels-link {
  padding-right: 5px;
  padding-left: 21px;
}

.main-logo {
  position: relative;

  width: 1200px;
  height: 508px;
  margin-bottom: 60px;

  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0 -83px;
}

.main-logo::after {
  position: absolute;
  bottom: -2px;
  left: 0;

  width: 1200px;
  height: 59px;

  content: "";

  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
}

.main-logo img {
  margin-top: 75px;
  margin-left: 371px;
}

.about-sedona {
  margin-bottom: 50px;
}

.about-sedona .sedona-description {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 27px;

  text-align: center;

  font-size: 21px;
}

.about-sedona .reasons {
  margin: 0;
  margin-bottom: 50px;

  text-align: center;
}

.about-sedona .reasons-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-sedona .reason-field {
  box-sizing: border-box;

  text-align: center;

  background-color: #eeeeee;

  line-height: 21px;
}

.reasons-list .reason {
  margin: 0;
  margin-bottom: 24px;
  padding-top: 49px;

  font-size: 21px;
}

.reasons-list .main-reason {
  display: flex;
  flex-wrap: wrap;

  color: #ffffff;
  background-color: #81b3d2;
}

.wrapper-main-reason {
  box-sizing: border-box;
  width: 400px;
}

.reasons-list .first-reason {
  padding-right: 60px;
  padding-left: 60px;
}

.reasons-list p {
  margin: 0 auto;
}

.reasons-list .reason-number {
  margin-bottom: 21px;
}

.reasons-list .reason-description {
  margin-bottom: 58px;
}

.descriptions-list {
  display: flex;

  padding: 0;

  list-style: none;

  color: #000000;
  background-color: #ffffff;
}

.descriptions-list li {
  width: 400px;
}

.descriptions-list h3 {
  margin: 0;
  margin-top: 161px;
  margin-bottom: 24px;

  font-size: 21px;
}

.descriptions-list p {
  margin-bottom: 82px;
}

.description-item-home {
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.description-item-food {
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 163px 61px;
}

.description-item-souvenirs {
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 168px 56px;
}

.reasons-list .second-reason {
  padding-right: 49px;
  padding-left: 49px;
}

.second-reason .reason {
  padding-top: 46px;
}

.other-reasons {
  display: flex;
}

.about-sedona .other-reason-field {
  width: 400px
}

.other-reasons .reason {
  padding-top: 47px;
}

.other-reasons .reason-description {
  margin-bottom: 59px;
}

.other-reasons .reason-field-third {
  padding-right: 95px;
  padding-left: 95px;
}

.other-reasons .reason-field-fourth {
  padding-right: 68px;
  padding-left: 69px;
}

.other-reasons .reason-field-fifth {
  padding-right: 75px;
  padding-left: 76px;
}

.booking {
  text-align: center;
}

.booking h2 {
  margin: 0;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;
}

.booking p {
  margin: 0;
  margin-bottom: 47px;

  line-height: 24px;
}

.button {
  display: block;

  margin: 0 auto;

  text-align: center;
  text-decoration: none;

  color: #ffffff;

  font-size: 21px;
  font-weight: bold;
}

.search-hotels-button {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #766357;
}

.search-hotels-button:hover,
.search-hotels-button:focus {
  background-color: #604e43;
}

.search-hotels-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.booking iframe {
  margin-bottom: -8px;

  border: none;
}

.filters {
  background-color: #766357;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0px -295px;
}

.filters form {
  display: flex;

  padding: 27px 71px;

  color: #ffffff;

  line-height: 21px;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;

  border: none;
}

.type-of-filter {
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: bold;
}

.list-of-filters {
  margin: 0;
  padding: 0;

  list-style: none;

}

.list-of-filters .filter-option {
  margin-bottom: 23px;
  margin-left: 1px;
}

.list-of-filters .filter-option:last-child {
  margin-bottom: 0;
}

.filters label {
  cursor: pointer;
}

.filters .accommodation {
  margin-left: 118px;
}

.accommodation .filter-option {
  margin-left: 1px;
}

.filter-checkbox + label::before {
  display: inline-block;

  width: 27px;
  height: 23px;
  margin-right: 13px;

  content: "";
  vertical-align: middle;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:checked + label::before {
  display: inline-block;

  width: 27px;
  height: 23px;
  margin-right: 13px;

  content: "";
  vertical-align: middle;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option input:disabled + label {
  opacity: 0.3;
}

.filter-checkbox:focus + label {
  outline-width: 5px;
  outline-style: auto;
  outline-color: #4D90FE;
  outline-offset: -2px;
}

.filters .price {
  margin-left: auto;
}

.price .type-of-filter {
  margin-bottom: 10px;
  margin-left: 2px;
}

.filter-range {
  width: 320px;
}

.price-controls {
  position: relative;

  box-sizing: border-box;
  margin-bottom: 19px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: "";
  transform: translate(-50%, -50%);

  background: #ffffff;
}

.price-controls label {
  display: inline-block;

  cursor: pointer;
  vertical-align: middle;

  font-size: 14px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 66px;
}

.price-controls .max-price {
  padding-left: 53px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 6px 0;

  color: inherit;
  border: none;
  background: none;

  font: inherit;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.price .toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;
  padding: 0;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.toggle:hover,
.toggle:focus {
  width: 22px;
  height: 22px;

  border: 9px solid #ffffff;
}

.toggle-min {
  left: 2px;
}

.toggle-max {
  left: 79%;
}

.button-price {
  display: block;

  margin-left: 86px;
  padding: 6px 34px;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background: transparent;

  font-size: 14px;
  line-height: 20px;
}

.sorting {
  display: flex;

  padding: 34px 71px 30px 71px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  font-size: 12px;
  line-height: 18px;
}

.sorting-results {
  margin: 0;

  font-size: 21px;
  font-weight: bold;
}

.name-area {
  margin: 0;
  margin-top: 2px;
  margin-left: 48px;

  font: inherit;
}

.type-of-sortings {
  margin-top: 2px;
  margin-left: 40px;
}

.type-of-sorting {
  margin-right: 30px;

  text-decoration: none;

  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.type-of-sorting:last-child {
  margin-right: 0;
}

.type-of-sorting:hover,
.type-of-sorting:focus {
  color: #81b3d2;
}

.type-of-sorting:active {
  color: #000000;
  border: none;
}

.active-sorting {
  color: #81b3d2;
  border: none;
}

.arrows {
  margin-left: auto;
  padding-right: 3px;
}

.arrow {
  margin-left: 10px;

  font-size: 0;
}

.arrow::before {
  display: inline-block;

  margin-bottom: 5px;

  content: "";
  vertical-align: middle;

  border: 10px solid #cacaca;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;

  font-size: 0;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrows .arrow-active::before {
  border-color: #81b3d2;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.arrow:first-child {
  margin-left: 0;
}

.arrow:hover::before,
.arrow:focus::before {
  border-color: #000000;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.arrow:active::before {
  border-color: #81b3d2;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.arrow-active:hover::before,
.arrow-active:focus::before {
  border-color: #81b3d2;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.results-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.result-item {
  display: flex;

  padding: 25px 72px 22px 72px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hotel-photo {
  margin-top: 5px;
}

.wrapper-hotel-information {
  flex-grow: 1;

  margin-left: 30px;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
}

.top-wrapper a {
  text-decoration: none;

  color: #000000;
}

.top-wrapper span {
  color: #81b3d2;

  font-size: 18px;
}

.hotel-name {
  margin: 0;
  margin-bottom: 4px;

  font-size: 21px;
  font-weight: bold;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.criteries-list {
  display: flex;
  justify-content: space-between;

  width: 181px;
  margin-bottom: 12px;
  padding: 0;

  list-style: none;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.buttons-list {
  display: flex;

  padding: 0;

  list-style: none;
}

.result-button {
  display: block;

  padding: 3px 0;

  text-align: center;
  text-decoration: none;

  color: #ffffff;

  font-weight: bold;
  line-height: 21px;
}

.more-button {
  width: 110px;
  margin-right: 6px;

  background-color: #81b3d2;
}

.booking-button {
  width: 142px;

  background-color: #766357;
}

.more-button:hover,
.more-button:focus {
  background-color: #669ec0;
}

.more-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.booking-button:hover,
.booking-button:focus {
  background-color: #604e43;
}

.booking-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating {
  width: 110px;
  margin: 0;
  padding: 3px 0;

  text-align: center;

  color: #666666;
  background-color: #f2f2f2;

  line-height: 21px;
}

.main-footer {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;

  width: 1200px;

  opacity: 0.9;
  background-color: #ffffff;
}

.inner-page .main-footer {
  position: relative;
}

.sedona-hashtag {
  margin: 0;
  margin-left: 133px;

  font-size: 21px;
  font-weight: bold;
}

.footer-social {
  display: flex;

  margin: 0;
  margin: 36px 0px;
  margin-left: 255px;
  padding: 0;

  list-style: none;
}

.footer-social li {
  margin-right: 6px;
}

.footer-social li:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  position: relative;

  display: block;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button::before {
  position: absolute;

  width: 22px;
  height: 22px;

  content: "";

  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button-tw::before {
  top: 17px;
  left: 15px;

  background-image: url("../img/tw-icon.svg");
}

.social-button-fb::before {
  top: 13px;
  left: 17px;

  background-image: url("../img/fb-icon.svg");
}

.social-button-youtube::before {
  top: 16px;
  left: 13px;

  background-image: url("../img/youtube-icon.svg");
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active::before {
  opacity: 0.3;
  background-color: #669ec0;
}

.social-button:active .social-button-tw {
  opacity: 0.3;
}

.development {
  display: flex;
  align-items: center;

  margin: 0;
  margin-top: 6px;
  margin-right: 100px;
  margin-left: auto;
}

.development span {
  padding-right: 8px;
  padding-bottom: 8px;
}

.development svg {
  width: 115px;
  height: 41px;
}

.development-link:hover path,
.development-link:focus path {
  fill: #81b3d2;
}

.development-link:active path {
  fill: #bdbbbc;
}

.modal-booking {
  position: absolute;
  bottom: 198px;
  left: 316px;

  display: block;

  box-sizing: border-box;
  width: 568px;
  padding: 55px;

  animation-name: appearance;
  animation-duration: 0.1s;
  text-align: right;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-booking label {
  font-weight: bold;
}

.modal-booking input {
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  margin-bottom: 30px;
  padding: 3px 11px;

  text-transform: uppercase;

  color: #000000;
  border: none;
  background-color: #f2f2f2;

  font-weight: bold;
}

.modal-booking input::placeholder {
  padding-left: 2px;

  text-transform: uppercase;

  color: #000000;

  font-weight: bold;
}

.modal-booking .check-in-value {
  margin-bottom: 29px;
  margin-left: 18px;
}

.modal-booking .check-out-value {
  margin-left: 15px;
}

.modal-booking .adults-value {
  margin-right: 33px;
  margin-left: 37px;
}

.modal-booking .childrens-value {
  margin-left: 23px;
}

.modal-booking .people-value {
  box-sizing: border-box;
  width: 114px;
  margin-bottom: 0;

  text-align: center;
}

.modal-booking input:hover {
  background-color: #ebebeb;
}

.wrapper-modal-booking {
  position: relative;

  display: flex;

  margin-bottom: 54px;
}

.wrapper-modal-booking label {
  height: 38px;
}

.modal-booking input:focus {
  padding-left: 9px;

  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}

.date-button  {
  position: absolute;
  right: 55px;

  box-sizing: border-box;
  width: 42px;
  height: 38px;
  padding-top: 4px;
  padding-right: 3px;

  cursor: pointer;

  border: none;
  background-color: transparent;
}

.check-in-value-button {
  top: 55px;
}

.check-out-value-button {
  top: 122px;
}

.date-button:hover path,
.date-button:focus path {
  fill: #000000;
}

.date-button:active path {
  fill: #81b3d2;
}

.people-value-up-down {
  position: relative;
  bottom: 38px;

  width: 38px;
  height: 38px;

  cursor: pointer;

  border: none;
  background-color: transparent;
}

.people-value-up-down::after,
.people-value-up-down::before {
  position: absolute;
  top: 18px;
  left: 12px;

  width: 12px;
  height: 3px;

  content: "";

  background-color: #cacaca;
}

.people-value-up::after {
  transform: rotate(90deg);
}

.adults-value-down {
  left: -67px;
}

.childrens-value-down {
  left: -34px;
}

.adults-value-up {
  left: -32px;
}

.people-value-up-down:hover::after,
.people-value-up-down:hover::before,
.people-value-up-down:focus::after,
.people-value-up-down:focus::before {
  background-color: #000000;
}

.people-value-up-down:active::after,
.people-value-up-down:active::before {
  background-color: #81b3d2;
}

.modal-booking .modal-search-button {
  width: 458px;
  padding: 17px 0;

  text-transform: uppercase;

  border: none;
  background-color: #81b3d2;
}

.modal-booking .modal-search-button:hover,
.modal-booking .modal-search-button:focus {
  background-color: #669ec0;
}

.modal-booking .modal-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

@keyframes appearance {
  0% {
    transform: scale(1, 0);
    transform-origin: 50% 0;
  }

  100% {
    transform: scale(1, 1);
    transform-origin: 50% 0;
  }
}

.modal-hide {
  display: none;
}
