body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
}

/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}*/

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: -23px;
}

.site-navigation a {
  display: block;
  width: 239px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: center;
}

.site-navigation .header-logo {
  padding-top: 0;
  padding-bottom: 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-logo {
  background-color: #81b3d2;
  position: relative;
  width: 1200px;
  height: 508px;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0 -83px;
}

.main-logo::after {
  position: absolute;
  bottom: -2px;
  left: 0;

  width: 1200px;
  height: 59px;

  content: "";

  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
}

.main-logo img {
  margin-top: 75px;
  margin-left: 371px;
}
